html, body {
    margin: 0; padding: 0;
}

html {
    background-color: rgb(22, 0, 27);
    cursor: url(../res/pointer.png), pointer;
}

h1, p, a, h2 {
    color: rgb(192, 192, 192);
    font-family: Itim, 'Segoe UI', sans-serif;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
p {
    font-size: 1.5rem;
}

body {
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 35% 5% 60%;
    height: 75vh;
}

#terminal_outer {
    margin: 5%;
    height: 90%;
    width: 90%;
    border-radius: 20px;
    background-color: darkslategray;
}
#terminal_screen {
    background-color: rgb(26, 26, 26);
    margin: 5%;
    transform: translateY(5%);
    /* margin-top: 10%; */
    height: 90%;
    width: 90%;
    border-radius: 18px;
}

#ter_buff {
    height: 100%;
    width: 100%;
    transform: translateY(5%);
    margin: 5%;
}

.ter_text {
    cursor: url(../res/pointer.png), auto;
    text-decoration: underline;
    color: greenyellow;
}
